[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/c/Users/JonyPc/Desktop/registro
Environment=PYTHONUNBUFFERED=1
Environment=TELEGRAM_TOKEN=your_token_here
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 